@if(data(); as securitySettings)
{
<span id="advanced-settings-system-password-section">
    <div class="flex-table-form">
        <div class="table-row-form header-form">
            <div>System Passwords</div>
        </div>
        <div class="table-row-form">
            <div class="cell-title">
                Admin Password:
            </div>
            <div class="cell-field">
                <button tuiButton>
                    Change Admin Password
                </button>
            </div>
        </div>
        <div class="table-row-form">
            <div class="cell-title">
                SSH Password:
            </div>
            <div class="cell-field">
                <tui-textfield>
                    <input tuiInput type="password" [(ngModel)]="securitySettings.sshPassword" [readOnly]="true" />
                    <tui-icon tuiPassword />
                    <tui-icon tuiCopy />
                </tui-textfield>
            </div>
        </div>
    </div>
</span>
<span id="advanced-settings-application-security-section">
    <div class="flex-table-form">
        <div class="table-row-form header-form">
            <div>Application Security</div>
        </div>
        <div class="table-row-form">
            <div class="cell-title">Application Protection:</div>
            <div class="cell-field">
                <tui-textfield tuiChevron tuiDropdownMobile>
                    <input placeholder="Country" tuiComboBox [(ngModel)]="selectedSecurity" />
                    <tui-data-list-wrapper *tuiDropdown [items]="ApSecurityList" />
                </tui-textfield>
            </div>
        </div>
    </div>
</span>
}
<footer class="advancedSettings">
    <button iconStart="@tui.save" tuiButton>
        Save
    </button>
</footer>