<div class="info-block">
    <div class="title">System Passwords</div>

    <div class="row">
        <div class="label">Admin Password</div>
        <div class="value">
            <button tuiButton>
                Change Admin Password
            </button>
        </div>
    </div>

    <div class="row">
        <div class="label">SSH Password</div>
        <div class="value">
            <tui-textfield iconStart="@tui.search">
                <label tuiLabel>Access Point Password</label>
                <input tuiInput />
            </tui-textfield>
        </div>
    </div>

    <div class="title">Application Security</div>

    <div class="row">
        <div class="label">Application Protection</div>
        <div class="value">
            <tui-textfield tuiChevron tuiDropdownMobile>
                <input placeholder="Country" tuiComboBox [(ngModel)]="test" />
                <tui-data-list-wrapper *tuiDropdown [items]="ApSecurityList" />
            </tui-textfield>
        </div>
    </div>
</div>
<footer>
    <button tuiButton>
        Save
    </button>
</footer>