:host {
  display: inline-flex;

  &:hover tui-icon.pointer {
    opacity: var(--opacity-high);
  }
}

.small {
  font-size: var(--font-size-sm);
}

.medium {
  font-size: var(--font-size-md);
}

.large {
  font-size: var(--font-size-xl);
}

.pointer {
  cursor: pointer;
}
