<div class="controls-container">
    <span style="left: 0;">
        <h1>Temperature Chart</h1>
    </span>
    <span style="right: 0;">
        <button tuiButton iconStart="@tui.chevron-left" (click)="previousDay()">Previous Date</button>
        <tui-textfield tuiDropdownSheet="Pick a date" >
            <label tuiLabel>Date</label>
            <input tuiInputDate [(ngModel)]="displayDate" (ngModelChange)="selectedDate($event)" />
            <ng-container *tuiDropdown="let close">
                <tui-calendar />
                <button appearance="action" size="m" tuiButton type="button" class="button" (click)="close(); today()">
                    Today
                </button>
            </ng-container>
        </tui-textfield>
        <button tuiButton iconEnd="@tui.chevron-right" (click)="nextDay()">Next Date</button>
    </span>
</div>
<div echarts [options]="options()" [theme]="theme.eChartsAttr()" class="chart"></div>