@if(tabs(); as tabsCollection)
{
<div class="custom-navbar-container">
    @for(tab of tabsCollection; track tab; let i = $index)
    {
    @if(tab.enabled)
    {
    <span class="tab-item" [class.active]="index() === i" (click)="setActive(i)">
        <tui-icon [icon]="tab.icon" />
        <span class="tab-wrapper"></span>
        <span class="tab-text">{{tab.label}}</span>
    </span>
    }
    @else
    {
    <span [tuiHint]="tab.hint"  tuiHintDirection="bottom" class="tab-item disabled">
        <tui-icon [icon]="tab.icon" />
        <span class="tab-wrapper"></span>
        <span class="tab-text">{{tab.label}}</span>
    </span>
    }
    }
</div>
}