<p>onboarding-admin-password works!</p>
<app-password-change [minPasswordLength]="6" [isPasswordConfirmationEnabled]="true" (passwordValidation)="passwordValidation($event)" />
<footer class="onboarding-popover-footer">
    <span class="onboarding-popover-navigation-buttons">
        <button type="button" class="onboarding-popover-footer-button" (click)="previous()">
            Back
        </button>
        <button type="button" class="onboarding-popover-footer-button" [disabled]="buttonDisabled()"  (click)="next()">
            Next
        </button>
    </span>
</footer>