<p>onboarding-admin-password works!</p>
<tui-textfield>
    <label tuiLabel>Click icon to toggle</label>
    <input placeholder="I am placeholder" tuiInput type="password" [(ngModel)]="value" />
    <tui-icon tuiPassword />
</tui-textfield>
<app-password-strength [passwordInput]="value"></app-password-strength>
<footer class="onboarding-popover-footer">
    <span class="onboarding-popover-navigation-buttons">
        <button type="button" class="onboarding-popover-footer-button" (click)="previous()">
            Back
        </button>
        <button type="button" class="onboarding-popover-footer-button" (click)="next()">
            Next
        </button>
    </span>
</footer>