@if(applicationSettings(); as applicationSettings)
{
<span style="left: 0;">
    <h1>Basic Settings</h1>
</span>
<div class="info-block">
    <div class="title">Timezone</div>
    <div class="row">
        <app-time-zone-selector [selectedTimezone]="applicationSettings.timeZone" style="width: 100%;"></app-time-zone-selector>
    </div>
    <div class="title">Display Unit</div>
    <div class="row">
        <app-unit-selector [selectedUnit]="applicationSettings.displayUnit" style="width: 400px"></app-unit-selector>
    </div>
    <div class="title">Tour</div>
    <div class="row">
        <button tuiButton>Take the tour</button>
    </div>
</div>
<footer class="advancedSettings">
    <button tuiButton>
        Save
    </button>
</footer>
}