.footer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.timer-text {
    font-size: 0.9rem;
    opacity: 0.8;
    margin-right:auto;
}

.footer-buttons {
    display: flex;
    gap: 0.75rem;
    margin-left:auto;
}