<tui-textfield>
    <label tuiLabel>Type your password</label>
    <input placeholder="I am placeholder" tuiInput type="password" [(ngModel)]="password" (ngModelChange)="passwordChanged()" />
    <tui-icon tuiPassword />
</tui-textfield>
@if(isPasswordConfirmationEnabled())
{
    <tui-textfield>
        <label tuiLabel>Confirm your password</label>
        <input placeholder="I am placeholder" tuiInput type="password" [(ngModel)]="passwordConfirmation" (ngModelChange)="passwordChanged()" />
        <tui-icon tuiPassword />
    </tui-textfield>
}
<div>
    <p>Password Strength:</p>
    @if(password && password.length > minPasswordLength()) {
    <app-password-strength [minPasswordLength]="minPasswordLength()" [passwordInput]="password" />
    }
    @else {
    <span>{{`Please type a password ${minPasswordLength()} characters password`}}</span>
    }
</div>