tui-textfield:where([data-tui-version="5.7.0"]) [tuiLabel][tuiLabel] {
    color: #BBB;
}

tui-textfield:where([data-tui-version="5.7.0"]):not([data-mode~="readonly"])[data-focus="true"] [tuiLabel] {
    color: red !important;
}
 