@if(data(); as accessPointSettings)
{
<div class="flex-table-form">
    <div class="table-row-form header-form">
        <div>
            Acces Point Settings
        </div>
    </div>
    <div class="table-row-form">
        <div class="cell-title">
            Name:
        </div>
        <div class="cell-field">
            <tui-textfield>
                <label tuiLabel>Access Point Name</label>
                <input tuiInput [(ngModel)]="accessPointSettings.accessPointName" />
            </tui-textfield>
        </div>
    </div>
    <div class="table-row-form">
        <div class="cell-title">
            Password:
        </div>
        <div class="cell-field">
            <tui-textfield iconStart="@tui.search">
                <label tuiLabel>Access Point Password</label>
                <input tuiInput [disabled]="accessPointSettings.accessPointSecurity === 0"
                    [(ngModel)]="accessPointSettings.accessPointPassword" />
            </tui-textfield>
            <app-password-strength [style.display]="accessPointSettings.accessPointSecurity === 0 ? 'none' : 'block'"
                [passwordInput]="accessPointSettings.accessPointPassword" [minPasswordLength]="8" />
        </div>
    </div>
    <div class="table-row-form">
        <div class="cell-title">
            Authentication Method:
        </div>
        <div class="cell-field">
            <tui-textfield tuiChevron tuiDropdownMobile>
                <input placeholder="AccessPoint Security" tuiComboBox [(ngModel)]="selectedSecurity"
                    (ngModelChange)="selectedSecurity.set($event)" />
                <tui-data-list-wrapper *tuiDropdown [items]="ApSecurityList" />
            </tui-textfield>
        </div>
    </div>

</div>
}
<footer class="advancedSettings">
    <button iconStart="@tui.save" tuiButton (click)="saveNetworkSettings()">
        Save
    </button>
</footer>