.flex-table-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--tui-border-normal);
  border-radius: 6px;
  overflow: hidden;
  margin-top: 20px;
}

.table-row-form {
  display: flex;
  padding: 8px 12px;
  align-items: center;
}

.header-form {
  font-weight: 600;
  background-color: var(--tui-background-neutral-1);
  border-bottom: 1px solid var(--tui-border-normal);
}

.cell-title {
  flex: 1;
  padding: 4px 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 16%;
}

.cell-field {
  padding: 4px 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-basis: 0px;
  flex-grow: 0.3;
  flex-shrink: 0.5;
}

footer.advancedSettings {
  position: sticky;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: end;
  border-top: 1px solid var(--tui-border-normal);
  background: var(--tui-background-base);
  z-index: 999;
  margin-bottom: -100px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 45px;
}

.page-scroll-container {
  height: 100%;
}