.info-block {
  display: flex;
  flex-direction: column;
  gap: 12px; 
}

.title {
  font-size: 1.1rem;
  padding-top: 45px;
  margin-bottom: 15px;
  font-weight: 600;
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.label {
  font-weight: 500;
  color: #555;
  width: 160px;
}

.value {
  color: #222;
  text-align: left;
  width: 240px;    
  max-width: 240px;
  flex-shrink: 0;
}

footer {
    display: flex;
    justify-content: end;
    border-top: 1px solid #ddd;
    margin-top: 50px;
    padding-top: 20px;
}
