<h1>Settings</h1>
<form [formGroup]="settingsForm" (submit)="submitSettings()" class="example-form">
  <div>
    <h4>Date Timezone</h4>
    <mat-form-field class="example-full-width" style="width: 1000px;">
      <mat-label>TimeZone</mat-label>
      <input type="text" placeholder="Pick one" aria-label="TimeZone" matInput [formControl]="timezoneSelector"
      formControlName="temperatureFormatId2"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option.name">{{option.name}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div>
    <h4>Temperature Display Format</h4>
    <mat-button-toggle-group name="fontStyle" formControlName="temperatureFormatId"
      #temperatureFormat="matButtonToggleGroup" aria-label="Font Style">
      <mat-button-toggle value="1">Celcius</mat-button-toggle>
      <mat-button-toggle value="2">Farenheit</mat-button-toggle>
      <mat-button-toggle value="3">Kelvin</mat-button-toggle>
    </mat-button-toggle-group>
    @if(temperatureFormat.value == '3')
    {
    <div>0_o Are you sure?</div>
    }
  </div>
  <div>
    <h4>Password Protect</h4>
    <mat-form-field>
      <mat-label>Area</mat-label>
      <select matNativeControl formControlName="passwordProtected" #passwordProtectedTmp [selectedIndex]="0">
        <option value="0">None</option>
        <option value="1">All</option>
        <option value="2">Only Settings</option>
      </select>
    </mat-form-field>
  </div>
  @if(passwordProtectedTmp.value !== "0" && passwordProtectedTmp?.value)
  {
  <div>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="type your password" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Re-type your password" />
    </mat-form-field>
  </div>

  }
  <div>
    <h4>Language</h4>
    <mat-form-field class="example-full-width" style="width: 1000px;">
      <mat-label>Language</mat-label>
      <input type="text" placeholder="Pick one" aria-label="TimeZone" matInput [formControl]="timezoneSelector"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option.name">{{option.name}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div>
    <button type="submit" [disabled]="!settingsForm.dirty" mat-raised-button>Apply</button>
  </div>
</form>